# {{ ansible_managed }}


{% if rsyslog_global_conf is defined and rsyslog_global_conf | length > 0 %}
################
#### CONFIG ####
################
global (
{% for key, value in rsyslog_global_conf.items() %}
  {{ key }}{{ '="' if value else '' }}{{ value }}{{ '"' if value else '' }}
{% endfor %}
)
{% endif %}


{% if rsyslog_global_module is defined and rsyslog_global_module | length > 0 %}
#################
#### MODULES ####
#################
{% for module in rsyslog_global_module %}
module (
  load="{{ module.load_name if module.load_name is defined and module.load_name != "" else module.name }}"
{% if module.options is defined and module.options | length > 0 %}
{% for key, value in module.options.items() %}
  {{ key }}{{ '="' if value else '' }}{{ value }}{{ '"' if value else '' }}
{% endfor %}
{% endif %}
)

{% endfor %}
{% endif %}



{% if rsyslog_global_listener is defined and rsyslog_global_listener | length > 0 %}
###################
#### LISTENERS ####
###################
{% for listener in rsyslog_global_listener %}
input (
  type="{{ listener.type }}"
{% if listener.options is defined and listener.options | length > 0 %}
{% for key, value in listener.options.items() %}
  {{ key }}{{ '="' if value else '' }}{{ value }}{{ '"' if value else '' }}
{% endfor %}
{% endif %}
)

{% endfor %}
{% endif %}


{% if rsyslog_global_template is defined and rsyslog_global_template | length > 0 %}
###################
#### TEMPLATES ####
###################
{% for template in rsyslog_global_template %}
template (
  name="{{ template.name }}"
{# list #}{% if template.type == "list" %}
  type="list"
{% endif %}{# #}
{# list #}{% if template.type == "subtree" %}
  type="subtree"
  subtree="{{ template.subtree }}"
{% endif %}{# #}
{# list #}{% if template.type == "string" %}
  type="string"
  string="{{ template.string }}"
{% endif %}{# #}
{# list #}{% if template.type == "plugin" %}
  type="plugin"
  plugin="{{ template.plugin }}"
{% endif %}{# #}
{% if template.options is defined and template.options | length > 0 %}
{% for key, value in module.options.items() %}
  {{ key }}{{ '="' if value else '' }}{{ value }}{{ '"' if value else '' }}
{% endfor %}
{% endif %}
{% if template.type == "list"  and template.list is defined and template.list | length > 0 %}
) {
{% for l in template.list %}
{% for key, value in l.items() %}
  {{ key }}{{ ' ( ' if value else '' }}
{% for k, v in value.items() %}
    {{ k }}{{ '="' if v else '' }}{{ v }}{{ '"' if v else '' }}
{% endfor %}
{{ ' )' if value else '' }}
{% endfor %}
{% endfor %}
}
{% else %}
)
{% endif %}

{% endfor %}
{% endif %}


{% if rsyslog_global_ruleset is defined and rsyslog_global_ruleset | length > 0 %}
##################
#### RULESETS ####
##################
{% for ruleset in rsyslog_global_ruleset %}
ruleset ( name="{{ ruleset.name }}" ) {
{% for rule in ruleset.rules %}
{% if rule.condition is defined and rule.condition | length > 0 %}
  if ( {{ rule.condition }} ) then {
{% endif %}
{# for rule of type action #}{% if rule.type == "action" and rule.actions is defined and rule.actions | length > 0 %}
{% for action in rule.actions %}
{{ '  ' if rule.condition is defined and rule.condition | length > 0 else '' }}  action (
{{ '  ' if rule.condition is defined and rule.condition | length > 0 else '' }}    type="{{ action.module }}"
{% for key, value in action.options.items() %}
{{ '  ' if rule.condition is defined and rule.condition | length > 0 else '' }}    {{ key }}{{ '="' if value else '' }}{{ value }}{{ '"' if value else '' }}
{% endfor %}
{{ '  ' if rule.condition is defined and rule.condition | length > 0 else '' }}  )
{{ '  ' if rule.condition is defined and rule.condition | length > 0 else '' }}{{ '  stop' if action.stop_after is defined and action.stop_after }}
{% endfor %}
{% endif %}{#  #}
{# for rule of type stop #}{% if rule.type == "stop" %}
{{ '  ' if rule.condition is defined and rule.condition | length > 0 else '' }}  stop
{% endif %}{#  #}
{# for rule of type call #}{% if rule.type == "call" %}
{{ '  ' if rule.condition is defined and rule.condition | length > 0 else '' }}  call {{ rule.call }}
{% endif %}{#  #}
{% if rule.condition is defined and rule.condition | length > 0 %}
  }
{% endif %}
{% endfor %}
}

{% endfor %}
{% endif %}



{% if rsyslog_global_include is defined and rsyslog_global_include | length > 0 %}
##################
#### INCLUDES ####
##################
{% for include in rsyslog_global_include %}
include  (
  file="{{ include.file }}"
{% if include.optionnal %}  mode="optional"{% endif %}
)

{% endfor %}
{% endif %}

